<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      @include('partials/email')
	  </head>
	  <body>
	    <div class="mail">
	      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

	      <p>Solicitação de recuperação de senha do autor!</p>

	      <p>Para continuar com a recuperação da senha, clique logo no botão abaixo "Recuperar minha senha"</p>

	      <a href="{{ link }}" target="_blank" class="button">Recuperar minha senha</a>
	    </div>
	  </body>
	</html>
